version: '3.1'
services:
  db:
    image: postgres:15
    restart: always
    volumes:
      - ${DB_FILE_PATH}:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB}
    ports:
      - ${DB_PORT}:5432